<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/css/reset-password.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css">
</head>
<body>
  <div class="container">
    <h1>Reset Password</h1>
    <form action="/forgot-password/<%= token %>"  method="POST" class="reset-form">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="password-wrapper">
          <input 
            type="password" 
            id="newPassword" 
            name="newPassword" 
            required
          >
          <i class="zmdi zmdi-eye toggle-password" data-target="newPassword"></i>
        </div>
        <ul class="password-rules">
          <li>At least 8 characters long</li>
          <li>Contain a number</li>
          <li>Include uppercase and lowercase letters</li>
        </ul>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="password-wrapper">
          <input 
            type="password" 
            id="confirmPassword" 
            name="confirmPassword" 
            required
          >
          <i class="zmdi zmdi-eye toggle-password" data-target="confirmPassword"></i>
        </div>
      </div>
      <% if(errors && errors.length > 0) { %>
      <div class="error-messages">
          <p><%= errors[0] %></p>
      </div>
    <% } %>
      <div class="form-actions">
        <button type="submit">Update Password</button>
      </div>
    </form>
  </div>

  <script>
    document.querySelectorAll(".toggle-password").forEach(icon => {
      icon.addEventListener("click", () => {
        const targetId = icon.getAttribute("data-target");
        const input = document.getElementById(targetId);

        if (input.type === "password") {
          input.type = "text";
          icon.classList.remove("zmdi-eye");
          icon.classList.add("zmdi-eye-off");
        } else {
          input.type = "password";
          icon.classList.remove("zmdi-eye-off");
          icon.classList.add("zmdi-eye");
        }
      });
    });
  </script>
</body>
</html>