<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/css/forgot-password.css" />
</head>
<body>
     <% if (user) { %>
        <p>✅ Logged in</p>
        <%}else{%>
            <p><pNot Logged in</p></p>
        <%}%>
  <div class="container">
    <h1>Forgot Password</h1>
    <% if(formSubmitted && formSubmitted.length > 0) { %>
      <div class="success-messages">
        <p>If the email that you have given us is correct, we have sent email
to reset password to your email.</p>
    </div>
    <% }else{ %>
    <p>Enter your email address to reset your password. We will send you a reset link.</p>
    <form action="/forgot-password" method="POST" class="forgot-form">
      <div class="form-group">
          <label for="email">Email Address</label>
          <input 
          type="email" 
          id="email" 
          name="email" 
          placeholder="Enter your email" 
          required 
          />
        </div>
        <% if(errors && errors.length > 0) { %>
          <div class="error-messages">
            <p><%= errors[0] %></p>
          </div>
        <% } %>

      <div class="form-actions">
        <button type="submit">Send Reset Link</button>
      </div>
    </form>
    <div class="back-link">
      <a href="/login">Back to Login</a>
    </div>
  </div>
  <% }%>
</body>
</html>
